<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revisão</title>
    <style>
        .direita {
            text-align: right;
        }
    </style>
</head>
<body>
    <h1>Ultima Revisão</h1>
    
    <hr>
    <p class="direita"><i>08/05/2025</i></p>
    <h2>Banco de dados</h2>
    <p>SQLAlchemy - <b>Abrir banco de dados</b></p>
    <p>Migrate - <b>Altera / atualiza banco de dados</b></p>
    <p>Configuração de banco de dados</p>
    <p>Configuração de checagem de atualização</p>
    <p>Nomear banco de dados</p>
    <p>Nomear para migração</p>
    <p>Arquivo Models</p>
    <p>Criar class com tabelas</p>
    <p>Importar Class no modulo</p>
    <p>WSGI - <b>Execução em diferentes servidores</b></p>
    <p>Criar banco de dados - <b>Flask db init</b></p>
    <p>Definir alteraçoes - <b>Flask db migrate -m "nome do arquivo"</b></p>
    <P>Salvar em um banco de dados - <b>Flask db upgrade</b></P>
    <hr>
    <p class="direita"><i>03/06/2025</i></p>
    <h2>Formulario</h2>
    <p>GET - <b>Busca informações do servidor</b></p>
    <p>POST - <b>Manda informações para o servidor</b></p>
    <p>Class.container - <b>Ajuste automatico de tela</b></p>
    <p>Class.row - <b>Cria linha de layout responsivo</b></p>
    <p>Class.col - <b>ajustar tamanho da coluna</b></p>
    <p>Form.GET/POST - <b>Uso para envio de Formulario</b></p>
    <p>MT - <b>Espaçamento vertical</b></p>
    <p>Form-control - <b>Design moderno</b></p>
    <p>Request.Method - <b>Verificar requisição do metodo</b></p>
    <p>Request.args.get - <b>Pegar resultados do parametro</b></p>
    <p>db.session.add() - <b>Recuperar dados do usuario</b></p>
    <p>db.session.commit() - <b>Salvar no BD</b></p>
    <p>input: radio - <b>Selecionar apenas um</b></p>
    <p>P - <b>Entrada</b></p>
    <p>Btn-outline - <b>Cor de contorno no botão</b></p>
    <p>Application - <b>Garante que o servidor consiga localizar</b></p>
    <p>Session.add() - <b>Adicionar parametro ao Banco de dados</b></p>
    <p>Session.commit() - <b>Salvar parametro no Banco de dados</b></p>
    <p>Form-control - <b>Design moderno</b></p>
    <p>Request.Method - <b>Verificar requisição do metodo</b></p>
    <p>Request.args.get - <b>Pegar resultados do parametro</b></p>
    <p>db.session.add() - <b>Recuperar dados do usuario</b></p>
    <p>db.session.commit() - <b>Salvar no BD</b></p>
    <hr>
    <p class="direita"><i>07/06/2025</i></p>
    <h2>Recuperando informações</h2>
    <p>Context - <b>Armazenar dados no dicionario</b></p>
    <p>Thead - <b>Conteudo do cabeçalho</b></p>
    <p>tr - <b>Linhas</b></p>
    <p>th - <b>Colunas</b></p>
    <p>Query.all() - <b>Buscar informações do banco de dados</b></p>
    <p>Justify-content-end - <b>Elementos alinhados a direita</b></p>
    <p>col-auto - <b>Ocupara somente espaço necessario</b></p>
    <p>Filter_by - <b>Filtrar informação especifica</b></p>
    <p>Text-center - <b>Alinhar cabeçalho</b></p>
    <p><b>Estrutura de Repetiçaõ(html)</b></p>
    <hr>
    <p class="direita"><i>09/06/2025</i></p>
    <h2>Arquivos estaticos</h2>
    <p>Pasta static - <b>Armazenar arquivos estaticos</b></p>
    <p>filename - <b>"Arquivo estatico"</b></p>
    <p>Console.log - <b>Exibir mensagem no console do navegador</b></p>
    <p>img.src - <b>Adicionar imagem</b></p>
    <hr>
    <p class="direita"><i>09/06/2025</i></p>
    <h2>Rotas Dinâmicas</h2>
    <p>int:id - <b>Passa um numero inteiro para url</b></p>
    <p>Readonly - <b>Elemento não editavel</b></p>
    <p>Parametro id - <b>Recupera informações do parametro</b></p>
    <hr>
    <p class="direita"><i>09/06/2025</i></p>
    <h2>Variavel de Ambiente</h2>
    <p>int:id - <b>Passa um numero inteiro para url</b></p>
    <p>Readonly - <b>Elemento não editavel</b></p>
    <p>Parametro id - <b>Recupera informações do parametro</b></p>
    <hr>
    <p class="direita"><i>23/06/2025</i></p>
    <h2>Variavel de Ambiente</h2>
    <p>int:id - <b>Passa um numero inteiro para url</b></p>
    <p>Readonly - <b>Elemento não editavel</b></p>
    <p>Parametro id - <b>Recupera informações do parametro</b></p>
</body>
</html>